<div >
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form>
          <div id="step1" [formGroup]="step1" *ngIf="showS1">
            <h3>Step 1</h3>
            <div class="form-group">
              <label>Login</label>
              <input type="email" [(ngModel)] ="userInfo.Email" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.login.errors }" />
              <div *ngIf="submitted && formControls.login.errors" class="invalid-feedback">
                <div *ngIf="formControls.login.errors.required">Login is required</div>
                <div *ngIf="formControls.login.errors.email">Login should be email</div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" [(ngModel)] ="userInfo.Password" formControlName="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
              <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
                <div *ngIf="formControls.password.errors.required">Password is required</div>
                <div *ngIf="formControls.password.errors.pattern">Confirm password must contain min 1 digit and min 1 letter</div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm password</label>
              <input type="password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.confirmpassword.errors }" />
              <div *ngIf="submitted && formControls.confirmpassword.errors" class="invalid-feedback">
                <div *ngIf="formControls.confirmpassword.errors.required">Confirm password is required</div>
                <div *ngIf="step1.get('confirmpassword').hasError('different')">Passwords should be the same</div>
              </div>
            </div>
            <div class="form-group">
              <input type="checkbox" formControlName="agreementCbx" [(ngModel)] ="userInfo.Agreement"
                     [ngClass]="{ 'is-invalid': submitted && formControls.agreementCbx.invalid }" /> Agree to work for food
              <div *ngIf="submitted && formControls.agreementCbx.invalid" class="invalid-feedback">
                <div *ngIf="formControls.agreementCbx.invalid">Agreement should be checkedd</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" (click)="onSubmitS1()">Go to step 2</button>
            </div>
          </div>

          <div id="step2" [formGroup]="step2" *ngIf="!showS1">
            <h3>Step 2</h3>
            <div class="form-group">
              <label>Country</label>
              <select formControlName="ddlCountry" class="form-control"
                      [(ngModel)]="userInfo.Country"
                      [ngClass]="{ 'is-invalid': submitted2 && formControls2.ddlCountry.errors }"
                      (change)='onCountryChanged()'
                      >
                <option *ngFor="let item of countries" [ngValue]="item.id">{{item.name}}</option>
              </select>
              <div *ngIf="submitted2 && formControls2.ddlCountry.errors" class="invalid-feedback">
                <div *ngIf="formControls2.ddlCountry.errors.required">Select country</div>
              </div>
            </div>
            <div class="form-group">
              <label>Province</label>
              <select formControlName="ddlProvince" class="form-control" [(ngModel)]="userInfo.Province"
                      [ngClass]="{ 'is-invalid': submitted2 && formControls2.ddlProvince.errors }">
                <option *ngFor="let item of provincies" [ngValue]="item.id">{{item.name}}</option>
              </select>
              <div *ngIf="submitted2 && formControls2.ddlProvince.errors" class="invalid-feedback">
                <div *ngIf="formControls2.ddlProvince.errors.required">Select province</div>
              </div>
            </div>
            
            <div class="form-group">
              <button class="btn btn-primary" type="submit" (click)="onSubmitS2()">Save data</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

