a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.tal {
  text-align: left
}

.tac {
  text-align: center
}

.label-style {
  text-align: left;
  width: 20%;
  margin-right: 10px
}
.tbx-style {
  width: 50%;
  text-align: left;
}
